#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
body {
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
  text-decoration-color: #333;
}

h1 {
  color: #333;
}

button {
  cursor: pointer;
}
li {
  color: #333;
}
p {
  color: #333;
}
