.form {
  display: flex;
  flex-direction: column;
  width: 300px;
  margin-bottom: 20px;
  border: 1px solid black;
  border-radius: 4px;
  padding: 10px;
}

.form label {
  text-align: left;
  font-weight: bold;
  margin-bottom: 5px;
  color: black;
}
label {
  color: black;
}

.form input {
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid black;
  border-radius: 4px;
}
input {
  background-color: grey;
}

.form button {
  padding: 10px;
  background-color: grey;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.form button:hover {
  background-color: #45a049;
}

.error {
  color: red;
  font-size: 12px;
}
